@using nwc.Tarwya.Application.ViewModels.Complains
@{
    ViewData["Title"] = "Index";
    ViewData["breadcrumb1"] = Labels.Complaints;
}

<div class="row">


    @(Html.Kendo().Grid<ComplaintVm>()
    .Name("grid")
    .Columns(columns =>
            {
                columns.Bound(p => p.Id).Filterable(false).Visible(false);
                columns.Bound(p => p.Image).Title(Labels.Images).ClientTemplate("<a class='k-button' href='#=data.Image#' target='_blank' rel='noopener noreferrer'>"+Labels.Images+"</a>").Width("20%");
                columns.Bound(p => p.IsSynced).Title("#").Width("15%");
                columns.Bound(p => p.Date).Title(Labels.Date).Format("{0:dd/MM/yyyy HH:mm}").Width("15%");
                columns.Bound(p => p.AssetNo).Title(Labels.AssetNo).Width("10%");
                columns.Bound(p => p.SubCatigory).Title(Labels.Type).Width("20%");
                columns.Bound(p => p.Description).Title(Labels.Description).Width("30%");
                columns.Bound(p => p.IssuerName).Title(Labels.IssuerName).Width("15%");
                columns.Bound(p => p.IssuerMobile).Title(Labels.IssuerMobile).Width("15%");
            })
    .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
    .Sortable()
    .Scrollable()
    .Groupable()
    //.Filterable()
    .Resizable(resize => resize.Columns(true))
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(500)
        .Read(read => read.Action("GetComplaints", "Complaint"))
     )
    .HtmlAttributes(new { style = "height: 95%;width:100%" })
    )
</div>
<script>
</script>

