<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- local file target -->
    <target name="fileTarget" xsi:type="File" fileName="${basedir}/logs/Nlog-${shortdate}.txt" layout="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Call Site: ${callsite}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}
Additional Info: ${message}${newline}" />

    <!-- database target -->
    <target name="database"
            xsi:type="Database"
            connectionString="${gdc:item=DefaultConnection}"
            commandText="exec dbo.AddLog
                          @level,
                          @callSite,
                          @type,
                          @exceptionMessage,
                          @exception,
                          @stackTrace,
                          @innerException,
                          @message,
						  @logger,
						  @app,
						  @userName,
						  @properties">
      <parameter name="@level" layout="${level}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@exceptionMessage" layout="${exception:format=message}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name="@innerException"
                 layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@app" layout="${gdc:item=App}" />
      <parameter name="@userName" layout="${aspnet-user-identity}" />
      <parameter name="@properties">
        <layout type="JsonLayout"  includeAllProperties="true" includeMdlc="true" includeMdc="true" MaxRecursionLimit="20"></layout>
      </parameter>
    </target>


  </targets>


  <rules>
    <!-- local file logger -->
    <logger name="*" minlevel="Trace" levels="Trace,Debug" writeTo="fileTarget"/>
    <!-- database logger -->
    <logger name="*.nwcLogger" minlevel="Trace" levels="Error,Warn,Fatal,Info" writeTo="database"/>
  </rules>
</nlog>