@using nwc.Tarwya.Application.ViewModels.Feedback
@{
    ViewData["Title"] = "Index";
    ViewData["breadcrumb1"] = Labels.FeedbackStandards;
}

<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div class="d-none d-md-block">
        <a href="/Feedback/CreateFeedbackQuestion" class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5">@Labels.NewRecord</a>
    </div>
</div>

<div class="row">

    @(Html.Kendo().Grid<FeedbackQuestionVm>()
            .Name("feedbackstanderdsGrid")
            .Columns(columns =>
            {
                columns.Bound(p => p.Id).Filterable(false).Visible(false);
                columns.Bound(p => p.NameAr).Title(Labels.NameAr).Width(300);
                columns.Bound(p => p.NameEn).Title(Labels.NameEn).Width(300);
                columns.Bound(p => p.NameFa).Title(Labels.NameFa).Width(300);
                columns.Bound(p => p.NameFr).Title(Labels.NameFr).Width(300);
                columns.Bound(p => p.NameId).Title(Labels.NameId).Width(300);
                columns.Bound(p => p.NameTr).Title(Labels.NameTr).Width(300);
                columns.Bound(p => p.NameUr).Title(Labels.NameUr).Width(300);
            })
            .Editable(e =>
            {
                e.Mode(GridEditMode.PopUp);
                //e.TemplateName("CategeroyEditorTemplate");
            })
            .Pageable(pageable => pageable
                    .Refresh(true)
                    .PageSizes(true)
                    .ButtonCount(5))
            .Sortable()
            .Scrollable()
            .Resizable(resize => resize.Columns(true))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(10)
                .Read(read => read.Action("GetFeedbackQuestions", "Feedback"))
                .Events(e => e.Error("OnError"))
             )
                .HtmlAttributes(new { style = "height: 95%;width:100%" })

    )

    @(Html.Kendo().Window()
            .Name("EditorWnd")
            .Modal(true)
            .Iframe(false)
            .Title("")
            .Visible(false)
            .Scrollable(true)
            .Resizable()

    )

    <script>
        function OnError(e, states) {
            debugger;
            alert("Error: " + e.errors);
        }

    </script>
</div>

